<ion-content>
  <div>
    <ion-buttons slot="start" color="light">
      <ion-back-button defaultHref="accueil" color="secondary" routerLink="/home"></ion-back-button>&nbsp;
    </ion-buttons>
  </div>

  <div class="img ion-text-center">
    <img src="../../assets/moi.jpg" alt="">
  </div>
  <div class="apropos">
    Si vous êtes à la recherche d'une application mobile ou d'un site web pour votre entreprise ou votre projet,
    n'hésitez pas à me contacter.
    <br> Je suis en mesure de créer des applications et des sites web personnalisés pour répondre à vos besoins spécifiques. <br>
    Que vous ayez besoin d'une application pour iOS ou Android, ou d'un site web pour présenter votre entreprise en ligne, je suis là pour vous aider. <br>
    N'hésitez pas à me faire signe pour discuter de votre projet et voir comment je peux vous aider.
  </div>
  <div class="join ion-text-center" >
    <p style="color: #1F70BC; font-family:Montserrat; font-weight: bold;">Amagaraï Guindo</p>
    <div class="icon ion-text-center">
      <ion-icon name="globe" (click)="openWeb()"></ion-icon>
      <ion-icon name="logo-linkedin" (click)="openLinkedin()"></ion-icon>
      <ion-icon name="logo-instagram" (click)="openInsta()"></ion-icon>
      <ion-icon name="logo-whatsapp" (click)="openWatsap()"></ion-icon>
    </div>
  </div>

</ion-content>
