<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chat GPT message
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #data="ngForm" (ngSubmit)="Submit(data)">
    <ion-input (ionChange)="Ionchange($event)" name="donnee" ngModel autofocus placeholder="Poser moi une question.."></ion-input>
    <div class="ion-text-center">
      <ion-button type="submit" fill="clear">Envoyer</ion-button>
    </div>
  </form>
  <ion-spinner name="crescent" color="ligth" *ngIf="loading=== true"></ion-spinner>
  <p style="border-bottom: 1px solid #000;"></p>
  <div class="rep" *ngIf="resultat">
    <p>Reponse :</p>
    <div id="resultat" class="text" [innerHTML]="resultat"></div>
  </div>

  <div class="text-area">
    <form action="">
      <textarea name="" id="" cols="30" rows="2" placeholder="Poser moi une question"></textarea>
      <ion-button fill="clear">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>
