<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Openi app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #data="ngForm" (ngSubmit)="Submit(data)">
    <ion-input (ionChange)="Ionchange($event)" name="donnee" ngModel autofocus placeholder="Poser moi une question.."></ion-input>
    <div class="ion-text-center">
      <ion-button type="submit" fill="clear">Envoyer</ion-button>
    </div>
  </form>
  <ion-spinner name="crescent" color="ligth" *ngIf="loading=== true"></ion-spinner>
  <p style="border-bottom: 1px solid #000;"></p>
  <div class="rep" *ngIf="resultat">
    <p>Reponse :</p>
    <div id="resultat" class="text" [innerHTML]="resultat"></div>
  </div>
  <!-- <pre>
    <code>
      showAlert(message: string)
        const alertPopup = this.alertCtrl.create(
          message: message;
          buttons: [

              text: 'Ok',
              handler: () =>
                // Ici vous pouvez choisir l'action à effectuer


          ]
        );
        alertPopup.present();

    </code>
  </pre> -->
</ion-content>
