ion-input{
  box-shadow: 0 3px 3px rgb(117, 117, 117);
  border-bottom: 3px solid rgb(13, 95, 196);
}

ion-button{
  background-color : rgb(13, 95, 196);
  color: #fff;
  border-radius: 12px;
  margin-top: 9px;
}
.text{
  font-family: "Times New Roman", Times, serif;
  padding: 5px;
  color: rgb(13, 95, 196);
  margin-bottom: 10px;
  border: solid;
}
pre{
  background-color: rgb(66, 66, 66);
}
pre code {
  font-family: monospace;
  color: rgb(255, 234, 0);
  // background-color: #eee;
}
