<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chat GPT message
    </ion-title>
    <ion-buttons slot="end" color="light">
      <ion-button defaultHref="accueil" color="secondary" routerLink="/info">
        <ion-icon name="information-circle"></ion-icon>
      </ion-button>&nbsp;
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="convertation" id="scrollable">
    <div *ngFor="let item of list">
      <div class="moi" *ngIf="item.moi">
        <ion-icon slot="start" name="person-circle"></ion-icon>
        <p>{{item.text}}</p>
      </div>
      <div class="response" *ngIf="!item.moi" [innerHTML]="item.text"></div>
    </div>
  </div>
  <div class="dots" *ngIf="loading=== true"></div>
  <div class="text-area">
    <form #data="ngForm" (ngSubmit)="Submit(data)">
      <ion-input (ionChange)="Ionchange($event)" name="donnee" ngModel autofocus placeholder="Poser moi une question"></ion-input>
      <ion-button type="submit" fill="clear">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </form>
  </div>
    <ion-fab slot="fixed" vertical="top" horizontal="end" *ngIf="list.length > 0">
      <ion-fab-button>
        <ion-icon name="chevron-down-circle"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="bottom">
        <ion-fab-button color="danger" (click)="viderConversation()">
          <ion-icon name="trash"></ion-icon>
        </ion-fab-button>
        <ion-fab-button routerLink="/info">
          <ion-icon name="information-circle"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
</ion-content>
